####################
# GENERAL SETTINGS
####################
BASE_DIR=<base_dir>        # root location of this project
LOG_DIR=${BASE_DIR}/logs        # location of safed logs
RESULT_DIR=${BASE_DIR}/result       # determines export directory

HOST=localhost
RELOAD=0 # set equal to 1 if server reload should be enabled (will break stop_services.sh script)


#############################
# SERVICE INSTANCE SETTINGS
#############################

# BILLING
BILLING_PORT=5000

# INVENTORY
INVENTORY_PORT=5001

# MESSAGE
MESSAGE_PORT=5002

# ORDER
ORDER_PORT=5003

# PURCHASE
PURCHASE_PORT=5004
