#####################
# GENERAL SETTINGS
#####################

FLASK_ENV=development
FLASK_RUN_HOST=0.0.0.0


#####################
# SERVICE INSTANCE SETTINGS
#####################

# BILLING
BILLING_FLASK_RUN_PORT=5000

# INVENTORY
INVENTORY_FLASK_RUN_PORT=5001

# MESSAGE
MESSAGE_FLASK_RUN_PORT=5002

# ORDER
ORDER_FLASK_RUN_PORT=5003

# PURCHASE
PURCHASE_FLASK_RUN_PORT=5004
